<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetFit</title>
</head>
<body>
    <h1>Criar Novo Treino</h1>

    <form method="post">
        {% csrf_token %}
        <div>
            {{ treino_form.as_p }}
        </div>
        <h3>Selecione as séries:</h3>
        <div>
            {% for serie in series_disponiveis %}
                <label>
                    <input type="checkbox" name="series" value="{{ serie.id }}">
                    {{ serie.exercicio.nome }}: {{ serie }}  
                </label><br>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Salvar Treino</button>
    </form>
</body>
</html>